.resultLabel {
    border: 1px;
    border-color: lightgray;
    border-style: solid;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: lightgray;
    min-width: 6em;
    max-width: 6em;
}

.titleLabel {
    width:4em;
    text-align: right;
}
